Source: libubic-service-memcached-perl
Maintainer: Vyacheslav Matjukhin (No comments) <mmcleric@yandex-team.ru>
Section: perl
Priority: optional
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 7), libcache-memcached-perl, libextutils-makemaker-perl, libparams-validate-perl, libparent-perl, libtest-simple-perl, perl, ubic

Package: libubic-service-memcached-perl
Architecture: all
Depends: ${perl:Depends}, memcached, libcache-memcached-perl, libparams-validate-perl, libparent-perl, ubic
Conflicts: yandex-ppb-memcached (< 2.0.0)
Description: memcached as ubic service
 The Ubic::Service::Memcached module is a helper for running memcached
 with ubic.
